.Opcoes {
  display: flex;
}

.opcao {
  font-size: 16 px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0%;
  cursor: pointer;
  min-width: 120px;
}